@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Rock+3D&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');


main {
    width: 80vw;
    margin: 0 auto;
    font-family: "Shantell Sans", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "BNCE" 0,
        "INFM" 0,
        "SPAC" 0;
}

p {
    font-size: 14px;
}

p.heading {
  font-family: "Henny Penny", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}


h1 {
    text-align: center;
    font-family: "Rock 3D", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #ff0000;
}

img {
    max-width: 100%;
}

section {
    max-width: 100vw;
    margin-bottom: 20px;
}

section.kids {
    div {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
        p {
            width: 20%;
            box-sizing: border-box;
            margin: 0;
            padding: 20px;
            border: #333 solid;
            border-width:1px 1px;
        }
    }
}